<div class="v1">
    {{#if soTK}}
    <div class="accountsavebank ">
        <div class="accountsavebank-item inline-block">
            <h5 class="text-color">Tài khoản nguồn : </h5>
            <h5>{{soTK}}</h5>
            <h5 class="text-color">Số dư khả dụng : </h5>
            <h5>{{soDu}} VNĐ</h5>
        </div>
        <br>
        <div class="accountsavebank-item inline-block bg-success mt-4">
            <h5>Thông tin gửi tiết kiệm :</h5>
            <br>
            <select class="custom-select" id="luaChonKyHan" onChange="update()">
                <option selected value = "Vui lòng chọn kỳ hạn">Kỳ hạn</option>
                {{#each interestRates}}
                <option value={{this.laiSuat}}>{{this.kyHan}}</option>
                {{/each}}
            </select>
            <br>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Lãi suất </span>
                </div>
                <input class="form-control" aria-label="With textarea" id = "laiSuat" name = "laiSuat"  disabled>
            </div>
            <br>

            <script type="text/javascript">
                function update() {
                    var select = document.getElementById('luaChonKyHan');
                    var option = select.options[select.selectedIndex];

                    if (option.text == '3 Tháng'){
                        const deadTime = new Date();
                        deadTime.setDate(deadTime.getDate());
                        const date = deadTime.getDate();
                        deadTime.setMonth(deadTime.getMonth() + 4);
                        deadTime.setDate(date);
                        document.getElementById('ngayDaoHan').value = deadTime.getDate() + " / " + deadTime.getMonth() + " / " + deadTime.getFullYear();
                    }
                    else 
                    {
                         document.getElementById('ngayDaoHan').value = option.value;
                    } 

                    document.getElementById('laiSuat').value = option.value;
                }

                update();
		    </script>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ngày đáo hạn</span>
                </div>
                <input class="form-control" aria-label="With textarea" id = "ngayDaoHan" name = "ngayDaoHan" value = "" disabled>
            </div>
            <br>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Số tiền muốn gửi</span>
                </div>
                <input class="form-control" aria-label="With textarea" name = "tienGui">
            </div>
            <div class="mt-5 d-flex justify-content-around">
                <a href="/term/{{this._id}}/openSaving" class="btn btn-info btn-block">Xác nhận</a>
                <a href="/term/" class="btn btn-danger btn-block">Hủy thao tác</a>
            </div>
        </div>

    </div>
    {{/if}}
</div>