<div class="container">
    <div class="row">
        {{#if terms}}
        {{#each terms}}
        <input type = "hidden" value = "{{this._id}}" name = "id">
            <div class="col-sm-6 col-lg-4 min-height mb-4">
                <div class="card card-course-item">
                    <a href="#">
                        <img src="{{this.image}}" class="card-img-top img-course" alt="Hình ảnh đại diện">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title size text-center color-text">Gói {{this.tenGoiTietKiem}}</h5>
                        <p class="description">{{this.description}}</p>
                        <div class="text-center">
                            <a href="/term/{{this._id}}/openSaving" class="btn btn-secondary"><b>Mở gói</b></a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{/if}}
    </div>
</div>