<div class="container">
    <div class="row">
        {{#if passbooks}}
        {{#each passbooks}}
        <input type = "hidden" value = "{{this._id}}" name = "id">
            <div class="col-sm-6 col-lg-4 min-height mb-4">
                <div class="card card-course-item">
                    <a href="#">
                        <img src="https://images.cdn1.stockunlimited.net/preview1300/bank-account-passbook_1277559.jpg" class="card-img-top img-course" alt="Hình ảnh đại diện">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title size text-center color-text">Gói {{this.term.tenGoiTietKiem}}</h5>
                        <h6>Thông tin về sổ tiết kiệm</h6>
                        <p>Kỳ hạn : <b>{{this.interestRate.kyHan}}</b></p>
                        <p>Ngày gửi : <b>{{this.ngayGui}}</b></p>
                        <p>Ngày đáo hạn : <b>{{this.ngayDaoHan}}</b></p>
                        <div class="text-center">
                            <a href="/settlement/{{this._id}}/viewDetail" class="btn btn-light">Xem thông tin</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{/if}}
    </div>
</div>