<div class="container mt-5">
    {{#if message}}
        <div style="text-align: center" class="alert alert-{{message.type}}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message.intro}}</strong> {{message.message}}
        </div>
    {{/if}}
   <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Họ và tên</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col" >Email</th>
                <th scope="col" >Ngày sinh</th>
                <th scope="col" >CCCD</th>
                <th scope="col" >Cài đặt</th>
            </tr>
        </thead>
        {{#if customers}}
        {{#each customers}}
        <tbody>
            <tr>
                <td>{{this.tenKH}}</td>
                <td>{{this.tenTK}}</td>
                <td>{{this.email}}</td>
                <td>{{this.ngaySinh}}</td>
                <td>{{this.CCCD}}</td>
                <td>
                    <a href="/admin/managementUser/#" class="btn btn-success" title="Cập nhập"><i class="far fa-edit"></i></a>
                    <a href="/admin/managementUser/{{this._id}}/deleteUser" class="btn btn-danger" title="Xoá"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
        {{/each}}
        {{/if}}
    </table>
</div>