<div class="profile">
    <div class="profile-item">
        <div class="text-center">
            <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1636260329/249000531_905697440068131_6669106597424658124_n_fbahjd.jpg"
                alt="" class="icon-logo">
        </div>
        {{#if message}}
                <div style="text-align: center" class="alert alert-{{message.type}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{message.intro}}</strong> {{message.message}}
                </div>
        {{/if}}
        {{#if term}}
        <h3 class="text-color text-center mt-5">Cập nhật gói tiết kiệm</h3>
        <form method="POST" class="mt-4" action="/admin/settingBankBook/managementTerm/{{term._id}}/updateTerm/checkUpdateTerm" id = "update">
            <div class="form-group">
                <label class="label-name">Tên gói :</label>
                <input type="text" class="form-control label-text" name="tenGoiTietKiem" value = "{{term.tenGoiTietKiem}}"> 
            </div>

            <div class="form-group">
                <label class="label-name">Lãi suất :</label>
                <input type="text" class="form-control label-text" name="laiSuat" value = "{{term.laiSuat}}">
            </div>
            
            <div class="form-group">
                <label class="label-name">Mô tả gói tiết kiệm :</label>
                <input type="text" class="form-control label-text" name="description" value = "{{term.description}}">
            </div>
            
            <div class="form-group">
                <label class="label-name">Link hình ảnh :</label>
                <input type="text" class="form-control label-text" name="image" value = "{{term.image}}">
            </div>
        </form>
        
        <form method="GET" class="mt-4" action="/admin/settingBankBook/managemnetTerm" id = "cancel"></form>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" form = "update">Cập nhật</button>
                <button type="submit" class="btn btn-danger" form = "cancel">Hủy thao tác</button>
            </div>
        {{/if}}
        </div>
</div>
